@font-face {
  font-family: 'BalooBhaina-Regular';
  src: url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.woff') format('woff'), url('BalooBhaina-Regular.ttf')  format('truetype'),
     url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.svg#BalooBhaina-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
  url('fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), url('Montserrat-Light.ttf')  format('truetype'),
  url('fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item a.nav-link.imp
{
	color:#ffb600 ;
	border-bottom: 1px solid #ffb600;
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	margin-right: 20px;
	margin-top: 24%;
	white-space: nowrap;
}
.head-1 .navbar-light .navbar-collapse .list .nav-item a.nav-link.inside
{
	color: #999999;
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	margin-right: 20px;
	margin-top: 28px;
	white-space: nowrap;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon
{
	margin-right: 10px;
	margin-top: 3%;
	
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-1
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 7px;
	color: white;
	background-color:  #ffb600;
	margin-left: 20px;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-2
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 5px;
	color: #ffb600;

}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-3
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 2px;
	color: #ffb600;
}


.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-4
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 5px;
	color: #ffb600;
	margin-right: 10px;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.sign-in
{
	background-image: url(picture/chest.png);
	background-repeat: no-repeat;
	padding-top: 16px ;
	padding-bottom: 50px;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.sign-in a.nav-link
{
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	color: white;
	padding: 0px 39px;
	white-space: nowrap;
}

.head-1 .navbar-light
{
	padding: 0px;
}

.head-1
{
	background-image: url(picture/cloud-baner-1.png);
	background-repeat: no-repeat;
	background-size: cover; 
	padding-bottom: 50px;
}

.background
{
	background-image: url(picture/baner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.head-2
{
	display: flex;
	justify-content: center;
}

.head-2 img
{
	width: 32%;
	height: 100%;
}

.head-3
{
	margin-top: 4%;

}

.head-3 .col-md-2
{
	position: relative;
	z-index: 1;
	left: -7%;
}

.head-3 .col-md-2 img
{
	height: 73%;
}

.head-3 .col-md-10 .content-top
{
	top: 14%;
	left: 33%;
	position: relative;
	width: 64%;

}

.head-3 .col-md-10 .content-bottom
{
	left: 5%;
	top: -6%;
	padding-top: 8%;
	width: 92%;
	position: relative;
}

.head-3 .col-md-10 .content-top h2.title
{
	font-family: 'Montserrat-Light';
	font-size: 18px;
	font-weight: bolder;
}

.head-3 .col-md-10 .content-top p
{
	font-family: 'Montserrat-Light';
	font-size: 14px;
}

.head-3 .col-md-10 .content-bottom h2.title
{
	font-family: 'Montserrat-Light';
	font-size: 18px;
	font-weight: bolder;
}

.head-3 .col-md-10 .content-bottom p
{
	font-family: 'Montserrat-Light';
	font-size: 14px;
}

.head-3 .col-md-10
{	
	background-image: url(picture/blank.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	max-width: 100%;
}

@media (min-width: 320px) and (max-width: 425px)
{

	.head-3 .col-md-2 img
	{
		height: 29%;
	}

	.head-3 .col-md-2
	{
		position: relative;
		z-index: 1;
		left: -5%;
		transform: translateY(9%);
	}

	.head-3 .col-md-10 .content-top
	{
		top: 4%;
		left: 38%;
		position: relative;
		width: 66%;

	}

	.head-3 .col-md-10 .content-bottom
	{
		left: 5%;
		padding-top: 8%;
		width: 92%;
		position: relative;
	}
	.head-3 .col-md-10 .content-top h2.title
		{	
			font-family: 'Montserrat-Light';
			font-size: 11px;
			font-weight: bolder;
		}

		.head-3 .col-md-10 .content-top p
		{
			font-family: 'Montserrat-Light';
			font-size: 7px;
		}

		.head-3 .col-md-10 .content-bottom h2.title
		{
			font-family: 'Montserrat-Light';
			font-size: 11px;
			font-weight: bolder;
		}

		.head-3 .col-md-10 .content-bottom p
		{
			font-family: 'Montserrat-Light';
			font-size: 7px;
		}
}

@media (min-width: 550px) and (max-width: 766px){
	.head-3 .col-md-2 img
	{
		height: 47%;
	}

	.head-3 .col-md-2
	{
		position: relative;
		z-index: 1;
		left: -13%;
		transform: translateY(5%);
	}

	.head-3 .col-md-10 .content-top
	{
		top: 4%;
		left: 30%;
		position: relative;
		width: 66%;

	}

	.head-3 .col-md-10 .content-bottom
	{
		left: 5%;
		width: 92%;
		position: relative;
	}
	.head-3 .col-md-10 .content-top h2.title
	{	
		font-family: 'Montserrat-Light';
		font-size: 12px;
		font-weight: bolder;
	}

	.head-3 .col-md-10 .content-top p
	{
		font-family: 'Montserrat-Light';
		font-size: 9px;
	}

	.head-3 .col-md-10 .content-bottom h2.title
	{
		font-family: 'Montserrat-Light';
		font-size: 12px;
		font-weight: bolder;
	}

	.head-3 .col-md-10 .content-bottom p
	{
		font-family: 'Montserrat-Light';
		font-size: 9px;
	}
}

@media (min-width: 768px) and (max-width: 1024px)
{
	.head-3 .col-md-2 img
	{
		height: 47%;
	}

	.head-3 .col-md-2
	{
		position: relative;
		z-index: 1;
		left: -2%;
		transform: translateY(5%);
	}

	.head-3 .col-md-10 .content-top
	{
		top: 4%;
		left: 30%;
		position: relative;
		width: 66%;

	}

	.head-3 .col-md-10 .content-bottom
	{
		left: 5%;
		width: 92%;
		position: relative;
	}
	.head-3 .col-md-10 .content-top h2.title
	{	
		font-family: 'Montserrat-Light';
		font-size: 14px;
		font-weight: bolder;
	}

	.head-3 .col-md-10 .content-top p
	{
		font-family: 'Montserrat-Light';
		font-size: 10px;
	}

	.head-3 .col-md-10 .content-bottom h2.title
	{
		font-family: 'Montserrat-Light';
		font-size: 14px;
		font-weight: bolder;
	}

	.head-3 .col-md-10 .content-bottom p
	{
		font-family: 'Montserrat-Light';
		font-size: 10px;
	}
}

.head-4 
{
	padding: 0px;
	padding-bottom: 2%;
}

.head-4 .row
{
	margin-right: 0px;
	margin-left: 0px;
}

.head-4 .col-md-6.left 
{
	padding-left: 0px;
}

.head-4 .col-md-6.left img
{
	width: 102%;
}

.head-4 .col-md-6.right
{
	padding-right: 0px;
}

.head-4 .col-md-6.right img
{
	width: 85%;
	margin-left: 15%;
}

.cloud
{
	position: absolute;
	z-index: 1;
	bottom: -6%;
}

.cloud img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.foot .col-md-4
{
	position: relative;
	margin-top: -3%;
	z-index: 4;	
}

.foot .col-md-4.take-care
{
	padding-left: 3%;
}

.foot .col-md-4 img
{
	width: 92%;
	height: 92%;
}

.last-page .row
{
  padding-top: 10%;
}

.last-page .col-md-4 h2.title
{
  font-size: 18px;
  font-family: 'BalooBhaina-Regular';
  margin-top: 50px;
}

.last-page .col-md-4 .content-left
{
  color:#1c1c1c;
  font-family: 'BalooBhaina-Regular';
  font-size: 15px;
}

.last-page .col-md-4 .content-left .fa.fa-envelope-o
{
  border: 1px solid;
  padding: 1px;
  border-color: #696969;
  border-radius: 5px;
  background-color: #525252;
  color: white;
}

.last-page .col-md-4 .content-left i
{
  color: #525252;
}

.last-page .col-md-4 .col-sm-4 .wrap-img img
{
  padding: 10px 0;
}



footer .leg-foot
{
  background-image: url(picture/footer-straight.png);
  background-repeat: no-repeat;
  margin-top: 12%;
  background-position: center;
  height: 100px;
  width: 100%;

}

footer .leg-foot a
{
  position: relative;
  margin-top: 2%;
  margin-left: 49%;
  border: 5px solid #e2e1de;
  border-radius: 100px;
  color: #e2e1de;
  padding: 0px 1px;
  width: 33px;
  height: 32px;
  background-color: #ffb400;
}


.footer-main .navbar .slimz .nav-item a.nav-link
{
  font-family: 'BalooBhaina-Regular';
  font-size: 17px;
  color: black;
}

.footer-main .navbar .navbar-brand
{
  padding-left: 10%;
  font-family: 'BalooBhaina-Regular';
  font-size: 16px;
  color: black;
}
